<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GameBackerPlus.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <GameBackerPlus.My.MySettings>
            <setting name="RadioButton1" serializeAs="String">
                <value/>
            </setting>
            <setting name="RadioButton2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Textbox1" serializeAs="String">
                <value>C:\GameBackerPlus</value>
            </setting>
            <setting name="Listview1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Numric1Form4" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="CheckBox1Form4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Label6Form1" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="Label6Form1C" serializeAs="String">
                <value/>
            </setting>
            <setting name="CheckBox1Form1" serializeAs="String">
                <value>True</value>
            </setting>
        </GameBackerPlus.My.MySettings>
    </userSettings>
</configuration>
